<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".controller.AppController"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FichaRPG">
        <activity
            android:name=".ui.levelup.LevelUp"
            android:exported="false" />
        <activity
            android:name=".ui.addthings.AddSpell"
            android:exported="false" />
        <activity
            android:name=".ui.addthings.AddEquipment"
            android:exported="false" />
        <activity
            android:name=".ui.addthings.AddFeature"
            android:exported="false" />
        <activity
            android:name=".ui.SubclassChooser"
            android:exported="true" />
        <activity
            android:name=".util.DisplayClassSubclassInfo"
            android:exported="true" />
        <activity
            android:name=".ui.addthings.AddClass"
            android:exported="true" />
        <activity
            android:name=".ui.ClassChooser"
            android:exported="true" />
        <activity
            android:name=".CharacterSheet"
            android:exported="true" />
        <activity
            android:name=".CreateCharacter"
            android:exported="true" />
        <activity
            android:name=".CreateSpell"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>